@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: 'Fira Code', monospace;
  margin: 0;
  padding: 0;
}

main {
  padding: 1rem;
}
